.Main_body_cls {
  padding-left: 10%;
  padding-bottom: 10%;
  padding-top: 10%;
}
.Main_discountcode{
  width: 300px;
  display: flex;
}
.Atm_deatils{
  width: 300px;
}
.Main_discountcode button{
  width: 80px;
  color: white;
}
.Main_body_cls input{
 width: 100%;
  color: white;
}
.Number_items{
  font-size: inherit;
}
.Number_items span{
  color: red;
}
.Amount_html{
  font-size: xx-large;
}
.Amount_html span{
 color: red;
}
.coupon_code{
  border:1px solid yellow;
  border-style: dotted;
  background-color: yellow;
  color: red;
}
.copy_code{
  padding: 3px;
    display: inline;
    border-radius: 2px;
    font-family: "Arial";
    border: 0;
    margin: 0 10px;
    background: red;
    font-size: 15px;    
    line-height: 15px;
    color: white;
    width: auto;
    height: auto;
    box-sizing: content-box;
}